/* 
    Document   : admin
    Created on : Jun 27, 2012, 3:00:55 PM
    Author     : jihusby
    Description:
        Purpose of the stylesheet follows.
*/

.stdField, .stdMediumField, .stdSmallField, .stdSmallArea, .stdBigArea, .stdHugeArea {
    border-radius: 5px; 
    padding: 3px;
}

div {
    border-radius: 10px;
}

h1 {
    font-family: Tahoma;
    font-size: 200%;
    font-weight: bold;
}

h2 {
    font-family: Tahoma;
    font-size: 170%;
    font-weight: bold;
    line-height: 27px;
}
h3 {
    font-family: Tahoma;
    font-size: 170%;
    font-weight: bold;
    line-height: 40px;
    vertical-align: middle;
    color: #9A9A9A;
}

td {
    vertical-align: middle;
    font-weight: bold;
    padding-right: 5px;
}
.stdField{
    width: 400px;
}
.stdMediumField{
    width: 200px;
} 
.stdSmallField{
    width: 80px;
} 
.stdSmallArea{
    min-height: 25px; max-height: 75px; min-width: 400px; max-width: 400px;
} 
.stdBigArea{
    min-height: 50px; max-height: 150px; min-width: 400px; max-width: 400px;
}
.stdHugeArea{
    min-height: 100px; max-height: 250px; min-width: 400px; max-width: 400px;
}

.keyCell {
    width:50px; 
    text-align: right;
}

.valueCell {
    width:400px; 
}

.errorInput {
    border: 1px solid #009900;
    background-color: #009900;
}

.headerCol {
    position: absolute;
    margin-left: 10px;
    margin-top: 10px;
    width: 1230px;
    height: 40px;
    padding: 10px;
    border: 1px solid #cdcdcd;
    background-color: #782069;
    color: #FFFFFF;
    line-height: 18px;
}

.menuCol {
    position: absolute;
    margin-left: 10px;
    margin-top: 80px;
    width: 240px;
    height: 180px;
    padding: 10px;
    border: 1px solid #cdcdcd;
    background-color: #efefef;
    color: #888888;
    line-height: 18px;
}

.menuCol:hover {
    background-color: #f4f4f4;
    color: #000000;
}

.menuColSelected {
    position: absolute;
    margin-left: 10px;
    margin-top: 80px;
    width: 240px;
    height: 180px;
    padding: 10px;
    border: 1px solid #cdcdcd;
    background-color: #fefea0;
    color: #000000;
    line-height: 18px;
}

.mainCol {
    position: absolute;
    margin-left: 280px;
    margin-top: 80px;
    width: 600px;
    padding: 10px;
    border: 1px solid #cdcdcd;
    background-color: #efefef;
    line-height: 18px;
}

.mainColFixed {
    position: absolute;
    margin-left: 280px;
    margin-top: 80px;
    width: 600px;
    height: 600px;
    padding: 10px;
    border: 1px solid #cdcdcd;
    background-color: #efefef;
    line-height: 18px;
}
.mainSubCol {
  /*clear: both;*/
  background: #ddd;
  padding: 25px;
  margin: 1px 1px 3px 1px;
  height: 547px;
  border: 1px solid #bbb;
}

.rightCol {
    position: absolute;
    margin-left: 910px;
    margin-top: 80px;
    border-radius: 30px;
    padding: 3px;
    width: 340px;
    height: 610px;
    border: 1px solid #cdcdcd;
    color: #FFFFFF;
    background-color: #5a5a5a;
}


.btn {
    width: 210px;
    height: 80px;
    vertical-align: bottom;
    float: bottom;
    margin-top: 10px;
}
