/* 
    Document   : admin
    Created on : Jun 27, 2012, 3:00:55 PM
    Author     : jihusby
    Description:
        Purpose of the stylesheet follows.
*/

.stdField, .stdMediumField, .stdSmallField, .stdSmallArea, .stdBigArea, .stdHugeArea {
    border-radius: 5px; 
    padding: 3px;
}

div {
    border-radius: 10px;
}

h1 {
    font-family: Tahoma;
    font-size: 200%;
    font-weight: bold;
}

h2 {
    font-family: Tahoma;
    font-size: 170%;
    font-weight: bold;
    line-height: 27px;
}
h3 {
    font-family: Tahoma;
    font-size: 170%;
    font-weight: bold;
    line-height: 40px;
    vertical-align: middle;
    color: #9A9A9A;
}

td {
    vertical-align: middle;
    font-weight: bold;
    padding-right: 5px;
}
.stdField{
    width: 400px;
}
.stdMediumField{
    width: 200px;
} 
.stdSmallField{
    width: 80px;
} 
.stdSmallArea{
    min-height: 25px; max-height: 75px; min-width: 400px; max-width: 400px;
} 
.stdBigArea{
    min-height: 100px; max-height: 150px; min-width: 400px; max-width: 400px;
}
.stdHugeArea{
    min-height: 150px; max-height: 300px; min-width: 400px; max-width: 400px;
}

.keyCell {
    width:80px; 
    text-align: right;
}

.valueCell {
    width:370px; 
}

.errorInput {
    border: 1px solid #009900;
    background-color: #009900;
}

.headerCol {
    position: absolute;
    margin-left: 10px;
    margin-top: 10px;
    width: 960px;
    height: 40px;
    padding: 10px;
    border: 1px solid #cdcdcd;
    background-color: #782069;
    color: #FFFFFF;
    line-height: 18px;
}

.mainCol {
    position: absolute;
    margin-left: 370px;
    margin-top: 80px;
    width: 600px;
    padding: 10px;
    border: 1px solid #cdcdcd;
    background-color: #efefef;
    line-height: 18px;
}

.mainColFixed {
    position: absolute;
    margin-left: 370px;
    margin-top: 80px;
    width: 600px;
    height: 600px;
    padding: 10px;
    border: 1px solid #cdcdcd;
    background-color: #efefef;
    line-height: 18px;
}
.mainSubCol {
  /*clear: both;*/
  background: #ddd;
  padding: 25px;
  margin: 1px 1px 3px 1px;
  height: 547px;
  border: 1px solid #bbb;
}

.previewCol {
    position: absolute;
    margin-left: 10px;
    margin-top: 80px;
    border-radius: 30px;
    padding: 3px;
    width: 340px;
    height: 610px;
    border: 1px solid #cdcdcd;
    color: #FFFFFF;
    background-color: #5a5a5a;
}


.btn {
    width: 210px;
    height: 35px;
    vertical-align: bottom;
    float: bottom;
    margin-top: 10px;
}


.div0, .div1, .div2, .div3, .div0_active, .div1_active, .div2_active, .div3_active {
    margin: 15px 15px 15px 15px;
    font-size: 15pt;
    font-weight: bold;
    padding: 25px 15px 25px 15px;
}

.div0, .div1, .div2, .div3 {
    background-color: #DDDDDD;
    color: #888888;
}

.div0:hover, .div1:hover, .div2:hover, .div3:hover {
    background-color: #FFFFFF;
    color: #782069;
}

.div0_active, .div1_active, .div2_active, .div3_active {
    background-color: #FFFFFF;
    color: #782069;
}
