/* 
    Document   : admin
    Created on : Jun 27, 2012, 3:00:55 PM
    Author     : jihusby
    Description:
        Purpose of the stylesheet follows.
*/

.stdField, .stdSmallField, .stdSmallArea, .stdBigArea, .stdHugeArea {
    border-radius: 5px; 
    padding: 3px;
}

div {
    border-radius: 10px;
}

h1 {
    font-family: Tahoma;
    font-size: 160%;
    line-height: 27px;
}

td {
    vertical-align: middle;
    font-weight: bold;
    padding-right: 5px;
}
.stdField{
    width: 400px;
} 
.stdSmallField{
    width: 80px;
} 
.stdSmallArea{
    min-height: 50px; max-height: 50px; min-width: 400px;
} 
.stdBigArea{
    min-height: 100px; max-height: 100px; min-width: 400px;
}
.stdHugeArea{
    min-height: 200px; max-height: 200px; min-width: 450px;
}

.keyCell {
    width:100px; 
    text-align: right;
}

.valueCell {
    width:400px; 
}

.menuCol {
    position: absolute;
    margin-left: 10px;
    margin-top: 10px;
    width: 240px;
    height: 180px;
    padding: 10px;
    border: 1px solid #cdcdcd;
    background-color: #efefef;
    color: #888888;
    line-height: 18px;
}

.menuCol:hover {
    background-color: #f4f4f4;
    color: #000000;
}

.menuColSelected {
    position: absolute;
    margin-left: 10px;
    margin-top: 10px;
    width: 240px;
    height: 180px;
    padding: 10px;
    border: 1px solid #cdcdcd;
    background-color: #fefea0;
    color: #000000;
    line-height: 18px;
}

.mainCol {
    position: absolute;
    margin-left: 275px;
    margin-top: 10px;
    width: 700px;
    padding: 10px;
    border: 1px solid #cdcdcd;
    background-color: #efefef;
    line-height: 18px;
}

.mainSubCol {
  /*clear: both;*/
  background: #ddd;
  padding: 25px;
  margin: 1px -3px 1px 1px;
  height: 600px;
  border: 1px solid #bbb;
}

.rightCol {
    position: absolute;
    margin-left: 1005px;
    margin-top: 10px;
    padding: 5px;
    width: 330;
    height: 490;
    border: 1px solid #cdcdcd;
    background-color: #efefef;
    line-height: 18px;
}


.btn {
    width: 200px;
    margin: 10px;
}
